

<head>

    <!-- Basic Page Info
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>Del Taco Diaries</title>
    <meta name="description" content="basic - A signature theme from Designova">
    <meta name="author" content="Designova">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png" />

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600%7CMontserrat:400,700%7COpen+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="assets/fonts.css">

  <!-- ICONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="assets/ionicons.min.css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="assets/bootstrap.css">
  <link rel="stylesheet" href="assets/owl.carousel.css">
  <link rel="stylesheet" href="assets/owl.carousel.theme.css">
  <link rel="stylesheet" href="assets/flickergallery.css">
  <link rel="stylesheet" href="assets/mobilenav.css">
  <link rel="stylesheet" href="assets/sinister.css">
  <link rel="stylesheet" href="assets/slimmenu.css">
  <link rel="stylesheet" href="assets/main.css">
  <link rel="stylesheet" href="assets/main-bg.css">
  <link rel="stylesheet" href="assets/main-responsive.css">
  <script src="assets/libs/common.js"></script>
 
  <!-- LESS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!-- 
    <link rel="stylesheet/less" type="text/css" href="less/color.less">
    <link rel="stylesheet/less" type="text/css" href="less/fonts.less">
    <script src="less/less.min.js"></script> -->


</head>

<body>
  <!-- MASTER CONTENT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <section class="mastwrap signature-phil">


<div class="content"> 

<div class="niceGallery-preloader"></div>


  <!-- gallery STRUCTURE -->
  <div class="niceGallery" id="gallery">
        <!-- HERE IS PLACE FOR PHOTOS -->
  </div>
  <!-- end gallery STRUCTURE --> 


</div>


  </section>
  <!-- end : mastwrap -->



  <!-- FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <footer class="mastfoot signature-phil">
    
    <div class="container">
        <div class="row">
            <article class="col-md-4 text-left">
                <ul class="social-icons signature-phil">
                  <li><a href="#"><span class="ion-social-twitter black"></span></a></li>
                  <li><a href="#"><span class="ion-social-facebook black"></span></a></li>
                  <li><a href="#"><span class="ion-social-dribbble black"></span></a></li>
                </ul>
            </article>
            <article class="col-md-8 text-right credits">
                <p class="font2 dark">&copy; 2015 Joshua Dominguez</p>
            </article>
        </div>
    </div>

  </footer>


  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="assets/libs/common.js"></script>
  <script src="assets/libs/jquery-ui.min.js"></script>
  <script src="assets/libs/bootstrap.min.js"></script>
  <script src="assets/libs/FlickrAPI.js"></script>
  <script src="assets/libs/Flickr.Gallery.min.js"></script>
  <script src="assets/custom/main.js"></script>
  <script>

$(document).ready(function (){ 
  $("#gallery").flickrGallery({
            //FLICKR API KEY
            Key: '56389fa5d9785bb7a02bc88f7d565a06',
            //Secret
            Secret: '22e5a077b803278f',
            //FLICKR user ID
            User: '136192393@N03',
            //Flickr PhotoSet ID
            PhotoSet: '72157659407019348',
            /*-- VIEWBOX SETTINGS --*/ 
            Speed   : 400,    //Speed of animations
            navigation  : 1,    //(true) Navigation (arrows)
            keyboard  : 1,    //(true) Keyboard navigation 
            numberEl  : 1     //(true) Number elements
  });
}); 

  </script>
</body>

