<!DOCTYPE html>
<html>
<head>
  <title>DelTacoDiariesD</title>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Preloader
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="preloader" class="signature-phil"> 
    <div id="status"></div> 
  </div>

<!-- mobile only navigation : starts -->
<nav class="mobile-nav signature-phil">
            <ul class="slimmenu">
              <li><a href="/">gallery</a></li>
              <li><a href="page/about">About</a></li>
              <li><a href="page/news">Journal</a></li>
              <li><a href="page/contact">Contact</a></li> 
            </ul>
</nav>
<!-- mobile only navigation : ends -->


  <!-- Header
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <header class="masthead signature-phil white-bg">
    <div class="container-fluid">
        <div class="row">
            <article class="col-md-6 col-md-offset-3 text-center">
                <a href="/index"><h1 class="logo black font2">Del Taco Diaries</h1></a>
            </article>
        </div>
        <div class="row">
            <article class="col-md-6 col-md-offset-3 text-center">
                <div id="nav-trigger" class="signature-phil">
                    <span class="dark-bg">Menu</span>
                </div>
                <nav id="nav-main" class="mastnav signature-phil navigation dark font4">
                    <ul>
                        <li><a href="/">gallery</a></li>
                        <li><a href="page/about">About</a></li>
                        <li><a href="page/news">Journal</a></li>
                        <li><a href="page/contact">Contact</a></li>
                    </ul>
                </nav>
                <nav id="nav-mobile"></nav>
            </article>
        </div>
    </div>
  </header>
  

<%= yield %>

</body>
</html>
